.example-container {
  width: 100%;
  height: 100%;
}
.example-sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2dvh;
}

.card-container{
  display: flex; flex-direction: column; align-items: center;
}

.render-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer-header{
  margin: 1dvh
}